<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>



  <!-- <%- include('../partials/cms/meta.ejs') %> -->

  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/fonts/fontawesome/css/all.min.css" />
  <link rel="stylesheet" href="../assets/setup.css" />

  <link rel="stylesheet" href="../assets/styles.css" />

  <link rel="stylesheet" href="../cms/styles/header-footer.css" />
  <link rel="stylesheet" href="../cms/styles/body.css" />
  <link rel="stylesheet" href="../cms/styles/login.css" />
</head>

<body>
  <!-- ----- ----- header ----- ------->
  <div class="header">
    <div class="header-contain d-flex justify-content-between">
      <div class="wrap-logo">
        <a href="/" target="_blank">
          <img src="../cms/images/index/home.png" alt="">
          <span>brand</span>
        </a>
      </div>
      <div class="profile-user relative">
        <a href="#" class="profile-btn my-dropdown-button" dropdown-menu-name="#profile">
          <span>admin</span>
          <img src="../cms/images/index/profile-user.png" alt="">
        </a>
        <div class="wrap-list list-style-1 d-none" id="profile">
          <ul>
            <!-- <li><a href="/auth/forgot-password">Đổi mật khẩu</a></li> -->
            <li><a href="/auth/sign-out">Đăng xuất</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- ----- ----- header ----- ------->

  <!-- ----- ----- body ----- ------->
  <div class="body-contain d-flex">
    <!-- ----- ----- sidebar ----- ------->
    <div class="wrap-sidebar">
      <div class="sidebar">
        <ul>
          <li>
            <div class="line">
              <a href="#">tài khoản</a>
            </div>
          </li>
          <li>
            <div class="line active">
              <a href="#">
                <span>nội dung tĩnh</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name1">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name1">
              <ul>
                <li class=""><a href="#">danh sách</a></li>
                <li><a href="#">thông báo</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">
                <span>bài viết</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name2">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name2">
              <ul>
                <li><a href="#">danh sách</a></li>
                <li><a href="#">cài đặt hiển thị</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">Thư viện ảnh</a>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">
                <span>sản phẩm</span>
              </a>
              <a href="#" class="wrap-arrow my-dropdown-button" dropdown-menu-name="#name4">
                <img class="arrow-down" src="/cms/images/index/arrow-down.png" alt="">
              </a>
            </div>
            <div class="wrap-child d-none" id="name4">
              <ul>
                <li><a href="#">danh mục sản phẩm</a></li>
                <li><a href="#">sản phẩm</a></li>
                <li><a href="#">cài đặt hiển thị</a></li>
              </ul>
            </div>
          </li>
          <li>
            <div class="line">
              <a href="#">custom</a>
            </div>
          </li>

        </ul>


      </div>
    </div>
    <!-- ----- ----- sidebar ----- ------->

    <!-- ----- ----- main ----- ------->
    <div class="main">
      <div class="container modal-id ">
        <div class="gap-xs"></div>
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="wrap-title">
              <div class="title">Danh sách nhóm</div>
            </div>
          </div>
          <!-- ======================= -->
          <div class="col-12">
            <div class="search-box">
              <div class="wrap-search-box">
                <div class="wrap-input">
                  <div class="input">
                    <input type="text" name="" id="">
                  </div>
                </div>
                <div class="submit">
                  <button class="submit-btn">Tìm kiếm</button>
                </div>
              </div>
            </div>
            <div class="base-list device-groups-list">
              <div class="wrap-box">
                <ul class="">
                  <li class="d-flex">
                    <span>Stt</span>
                    <span class="device-name">Tên nhóm</span>
                    <span>Trạng thái</span>
                    <span>Template</span>
                    <span>Khu vực</span>
                    <span class="action">Hành động</span>
                  </li>
                  <li class="d-flex">
                    <span>1</span>
                    <span class="device-name short-text">Ao số 1</span>
                    <span class="short-text">Trạng thái 11</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span title="123123" class="short-text">123123123123123123123</span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn active-device-btn">Sửa<span class="icon"><img class="img-icon" src="../cms/images/index/settings.png" alt=""></span></button>
                      </div>
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>
                  <li class="d-flex">
                    <span>2</span>
                    <span class="device-name short-text">Ao số 2</span>
                    <span class="short-text">Trạng thái 11</span>
                    <span title="123123" class="short-text">grou123123123123123123p</span>
                    <span title="123123" class="short-text">123123123123123123123</span>
                    <span class="action">
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn active-device-btn">Sửa<span class="icon"><img class="img-icon" src="../cms/images/index/settings.png" alt=""></span><span class="icon icon-setting"></span></button>
                      </div>
                      <div class="wrap-action-btn">
                        <button title="id=123123" value=".item-<%=device._id %>" class="primary-btn delete-device-btn">Xoá ×</button>
                      </div>
                    </span>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- ----- ----- main ----- ------->
      </div>
      <!-- ----- ----- body ----- ------->

      <!-- Toast container -->
      <div id="toast-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
      <!-- footer -->
      <!-- <%- include('../partials/cms/footer.ejs') %> -->
      <!-- footer -->
</body>

<!-- /*-----*-----*-- lib-javascript --*-----*-----*/ -->

<!-- <script src="https://code.jquery.com/jquery-3.7.0.js"></script> -->

<script src="../assets/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/socket-client/index.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous"></script> -->

<!-- /*-----*-----*-- my-script --*-----*-----*/ -->
<script src="../assets/function.js"></script>
<script src="../cms/scripts/refactor.js"></script>
<script src="../cms/scripts/func.js"></script>
<script src="../cms/scripts/main.js"></script>
<!-- <script src="/cms/scripts/handle-image.js"></script> -->
<!-- <script src="component/slider/script.js"></script> -->

</html>